body {
    background-color: #3C3D3C;
}

form{
    display:inline-block;
}

.cellphone{
	position: absolute;
	top: 7px;
	left: 7px;
}
.cellphone_logo {
    position: absolute;
    top: 101px;
    width: 33px;
    left: 33px;
    height: 33px;
    padding: 2px;
    background-color: #3C3D3C;
  }
  
.cellphone_logo_size {
	max-height: 33px;
	max-width: 33px;
}

.summary_logo_size {
	max-height: 70px;
	max-width: 70px;
}

.cellphone_title {
    position: absolute;
    top: 101px;
    left: 67px;
    width: 211px;
    height: 32px;
    padding: 3px;
    background-color: #3C3D3C;
    color: #6ECDE4;
	font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
  }

.cellphone_center_title {
    position: absolute;
    top: 138px;
    left: 33px;
    width: 243px;
    height: 352px;
    padding: 4px;
    background-color: #4D4D4D;
    color: yellow;
	font-family: 'Arial', Arial, sans-serif;
    font-size: 48px;
  }

.cellphone_center_data {
    position: absolute;
    top: 355px;
    left: 33px;
    width: 243px;
    height: 100px;
    padding: 4px;
    background-color: #4D4D4D;
    color: yellow;
	font-family: 'Arial', Arial, sans-serif;
    font-size: 16px;
  }

.main_title {
    position: absolute;
    top: 50px;
    left: 450px;
    padding: 4px;
    background-color: #3C3D3C;
    color: white;
	font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
  }
  
.sub_title {
    position: absolute;
    top: 125px;
    left: 550px;
    padding: 4px;
    background-color: #3C3D3C;
    color: #6ECDE4; 
 	font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 24px;
  }
  
.summary_title {
    position: absolute;
    top: 175px;
    left: 450px;
    padding: 4px;
    background-color: #3C3D3C;
    font-size: 24px;
    color: lightgray;
	font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
  }

.page_title {
    position: absolute;
    top: 250px;
    left: 450px;
    padding: 4px;
    background-color: #3C3D3C;
    color: lightgray;
	font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
  }
  
.info_area_1 {
    position: absolute;
    top: 200px;
    left: 475px;
    padding: 4px;
    background-color: #3C3D3C;
    color: white;
	font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
  }
  

.info_area_2 {
    position: absolute;
    top: 375px;
    left: 375px;
    padding: 4px;
    background-color: #3C3D3C;
    color: white;
	font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
  }
  
.info_area_3 {
    position: absolute;
    top: 350px;
    left: 450px;
    padding: 4px;
    background-color: #3C3D3C;
    color: #6ECDE4;
	font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
  }
  
  .info_area_final {
    position: absolute;
    top: 350px;
    left: 450px;
    padding: 4px;
    background-color: #3C3D3C;
    color: #6ECDE4;
	font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
  }
  
.info_area_summary {
    position: absolute;
    top: 250px;
    left: 450px;
    padding: 4px;
    background-color: #3C3D3C;
    color: #6ECDE4;
	font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
  }
  
.error_msg{
	color: red;
	font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

.table_column_spacer{
	width: 40px;
}

/* unvisited link */
a.download_link:link {
    color: #6ECDE4;
}

/* visited link */
a.download_link:visited {
    color: white;
}

/* mouse over link */
a.download_link:hover {
    color: lightgray;
}

/* selected link */
a.download_link:active {
    color: #FF00FF;
}
.button_start{
    position: absolute;
    top: 500px;
    right: 100px;
	background-color: yellow;
    color: Black;
	font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
}

.button_previous{
    position: absolute;
    top: 500px;
    left: 400px;
	background-color: gray;
    color: Black;
	font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
}

.button_next{
    position: absolute;
    top: 500px;
    right: 100px;
	background-color: yellow;
    color: Black;
	font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
}  


.button_upload{
    color: #6ECDE4;
	font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}  
