<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>SAG Error</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 th:text="#{error.title_error}"/>
	<p th:text="${session.invalidRequest.results}" />
	<p></p>
	<div class="helpFont">Need help? Email <a class="url_link" href="mailto:secureApp@benetech.org">secureApp@benetech.org</a></div> 
  	<div class="copyrightFont copyright_area" align="left" th:utext="${session.appConfig.copyright}"></div>
</body>

</html>