<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title th:text="#{text.title}"></title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  		  <link rel="stylesheet" type="text/css" media="all"  
     		 href="/css/main.css" th:href="@{../css/main.css}" />
 	</head>
	<body>
      	<img class="cellphone" src="/images/cellphone.png" alt="Android Cellphone"/>
	   	<div class="cellphone_logo"><img class="cellphone_logo_size" th:src="${session.appConfig.appIconBase64Data}" role="presentation" alt=""/></div>
	   	<div class="cellphone_title" th:text="${session.appConfig.appNameShort}"></div>
		<div class="textFont cellphone_center_title" align="center"><p/><a th:text="#{text.app_built}"/></div>

      	<div class="textFont main_title">
     		<div th:text="#{text.title}"/>
		</div>
     	<div class="textFont sub_title">
     		<a th:text="#{text.subtitle}"/><img  src="../images/MartusLogoWhite.png" th:alt="#{alt_text.Martus}" align="top"/>
		</div>
		
    		 <div class="textFont info_area_final">
              <table>
	                <tr>
 	                    <td th:text="#{text.link_to_app}"/>
	                    <td class="table_column_spacer"/>
	   					<td>
 	   						<a class="textFont url_link" th:href="@{${session.appConfig.apkURL}}" th:text="${session.appConfig.apkName}"></a>
	   					</td>
	                </tr>
            </table>
		</div>
		<div class="helpFont help_area">Need help? Email <a class="url_link" href="mailto:secureApp@benetech.org">secureApp@benetech.org</a></div> 
 	</body>
</html>
