<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title>Secure App Generator</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  		  <link rel="stylesheet" type="text/css" media="all"  
     		 href="/css/main.css" th:href="@{../css/main.css}" />
 	</head>
	<body>
       	<img src="/images/cellphone.png" alt="Android Cellphone"/>
 	   	<div class="cellphone_logo"><img class="cellphone_logo_size" th:src="${session.appConfig.appIconLocation}" role="presentation" alt=""/></div>
	   	<div class="cellphone_title" th:text="${session.appConfig.appName}"></div>

		<div class="cellphone_center"><p/>Secure Data Collection<p>Customized for your projects</p></div>
     	<div class="main_title">
     		secureApp generator
		</div>
     	<div class="sub_title">
     		powered by<img src="../images/MartusLogoWhite.png" alt="Martus"/>
		</div>
		
    		 <div class="info_area_3">
              <table>
	                <tr>
 	                    <td>Here is a link to your app:</td>
	   					<td th:text="${session.appConfig.apkLink}"></td>
	                </tr>
            </table>
		</div>
 	</body>
</html>
