<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title>Secure App Generator</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  		  <link rel="stylesheet" type="text/css" media="all"  
     		 href="/css/main.css" th:href="@{../css/main.css}" />
 	</head>
	<body>
      	<img src="/images/cellphone.png" alt="Android Cellphone"/>
	   	<div class="cellphone_logo"><img class="cellphone_logo_size" th:src="${session.appConfig.appIconLocation}" role="presentation" alt=""/></div>
	   	<div class="cellphone_title" th:text="${session.appConfig.appName}"></div>

		<div class="cellphone_center_title" align="center"><p/>App Built!</div>
     	<div class="main_title">
     		<b>secureApp</b> Generator
		</div>
     	<div class="sub_title" >
     		powered by<img  src="../images/MartusLogoWhite.png" alt="Martus" align="top"/>
		</div>
		
    		 <div class="info_area_final">
              <table>
	                <tr>
 	                    <td>Here is a link to download your app:</td>
	                    <td class="table_column_spacer"/>
	   					<td>
	   						<a class="download_link" th:href="@{${session.appConfig.apkLink}}" th:text="${session.appConfig.apkName}">Link</a>
	   					</td>
	                </tr>
            </table>
		</div>
 	</body>
</html>
