<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title>Secure App Generator</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  		  <link rel="stylesheet" type="text/css" media="all"  
     		 href="../css/main.css" th:href="@{../css/main.css}" />
 	</head>
	<body>
	
      	<img src="../images/cellphone.png" alt="Android Cellphone"/>
		<div class="cellphone_center"><p/>Secure Data Collection<p>Customized for your projects</p></div>
     	<div class="main_title">
     		secureApp generator
		</div>
     	<div class="sub_title">
     		powered by<img  src="../images/MartusLogoWhite.png" alt="Martus"/>
		</div>
		
 	   	<div class="cellphone_logo">
      		<img src="../images/Martus-swoosh-30x30.png" role="presentation" alt=""/>
		</div>

	   	<div class="cellphone_title">
      		My Secure App
		</div>
 
     	<div class="page_title">
     		<h1>Name Your Custom App!</h1>
 		</div>
   	
 			
		<form method="POST" th:action="@{/nameApp/previous}">
			<input class="button_previous" name="previous" type="submit" value="&lt; Back"/>
		</form>
		
		<form action = "#/nameApp/next" th:action="@{/nameApp/next}" th:object="${appConfig}" method="POST">
   		 	<div class="info_area_3">
           		 <table>
	                <tr>
 	                    <td>Name:</td>
	                    <td>
	                    		<input type="text" th:field="*{appName}" />
	                    	</td>
	                    <td>
	                    		<span class="error_msg" th:if="*{appNameError != null}" th:text="*{appNameError}">Errors</span>
	                    	</td>
	                </tr>
                </table>
 				<p/>
 				Give your new app a name
 			</div>
			<input class="button_next" name="next" type="submit" value="Continue &gt;"/>
		</form>
	</body>
</html>
