<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title>Secure App Generator</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  		  <link rel="stylesheet" type="text/css" media="all"  
     		 href="/css/main.css" th:href="@{../css/main.css}" />
 	</head>
	<body>
      	<img src="/images/cellphone.png" alt="Android Cellphone"/>
	   	<div class="cellphone_logo"><img class="cellphone_logo_size" th:src="${session.appConfig.appIconLocation}" role="presentation" alt=""/></div>
	   	<div class="cellphone_title" th:text="${session.appConfig.appName}"></div>

		<div class="cellphone_center_title" align="center"><p/>Secure Data Collection</div>
  		<div class="cellphone_center_data" align="center"><p/>Customized for your projects</div>
     	<div class="main_title">
     		<b>secureApp</b> Generator
		</div>
     	<div class="sub_title" >
     		powered by<img  src="../images/MartusLogoWhite.png" alt="Martus" align="top"/>
		</div>
		
      	<div class="page_title">
     		<h1>Upload a Logo (Optional)</h1>
 		</div>
   	
		<form method="POST" th:action="@{/obtainLogoPrevious}">
			<input class="button_previous" name="previous" type="submit" value="&lt; Back"/>
		</form>

		<form  method="POST" enctype="multipart/form-data" th:action="@{/obtainLogoNext}" th:object="${appConfig}">
 			<div class="info_area_3">
         		 <table>
	                <tr>
 	                    <td>
  	       					<input id="uploadLogoButton" class="button_upload" type="file" name="file"></input> 
  	                    	</td>
	                    <td>
	                    		<span class="error_msg" th:if="*{appIconError != null}" th:text="*{appIconError}">Errors</span>
	                    	</td>
	                </tr>
                </table>
 				<p/>
	        		<label for="uploadLogoButton">
					Select a .png image file to upload.
	    			</label>
			</div>
			<input class="button_next" name="next" type="submit" value="Continue &gt;"/>
		</form>
	<script src="./js/tota11y.min.js"></script>	
	</body>
</html>
