<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title th:text="#{text.title}"></title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  		  <link rel="stylesheet" type="text/css" media="all"  
     		 href="/css/main.css" th:href="@{../css/main.css}" />
 	</head>
	<body>
      	<img class="progressBarLocation" src="/images/Step2line.png" role="presentation" alt=""/>
		<div class="textFont progressStep1Location progressBarStepComplete" align="center" th:text="#{progressbar.name}"></div>
 		<div class="textFont progressStep2Location progressBarStepActive" align="center" th:text="#{progressbar.logo}"></div>
		<div class="textFont progressStep3Location progressBarStepInactive" align="center" th:text="#{progressbar.form}"></div>
		<div class="textFont progressStep4Location progressBarStepInactive" align="center" th:text="#{progressbar.contact}"></div>
		<div class="textFont progressStep5Location progressBarStepInactive" align="center" th:text="#{progressbar.build}"></div>

      	<img class="cellphone" src="/images/cellphone.png" th:alt="#{alt_text.cellphone}"/>
	   	<div class="cellphone_logo"><img class="cellphone_logo_size" th:src="${session.appConfig.appIconLocation}" role="presentation" alt=""/></div>
	   	<div class="textFont cellphone_title" th:text="${session.appConfig.appName}"></div>

		<div class="textFont cellphone_center_title" align="center"><p/><a th:text="#{text.cellphone_message1}"></a></div>
  		<div class="textFont cellphone_center_data" align="center" th:text="#{text.cellphone_message2}"></div>
      	<div class="textFont main_title">
     		<div th:text="#{text.title}"/>
		</div>
     	<div class="textFont sub_title">
     		<a th:text="#{text.subtitle}"/><img  src="../images/MartusLogoWhite.png" th:alt="#{alt_text.Martus}" align="top"/>
		</div>
		
      	<div class="textFont page_title">
      		<h1 th:text="#{text.pagetitle_logo}"></h1>
 		</div>
   	
		<form method="POST" th:action="@{/obtainLogoPrevious}">
			<input class="textFont button_previous" name="previous" type="submit" th:value="#{button.previous}"/>
		</form>

		<form  method="POST" enctype="multipart/form-data" th:action="@{/obtainLogoNext}" th:object="${appConfig}">
 			<div class="textFont info_area_3">
         		 <table>
	                <tr>
 	                    <td>
  	       					<input id="uploadLogoButton" class="textFont button_upload" type="file" name="file" accept="image/*"></input> 
  	                    	</td>
	                    <td>
	                    		<span class="textFont error_msg" th:if="*{appIconError != null}" th:text="*{appIconError}"></span>
	                    	</td>
	                </tr>
                </table>
 				<p/>
	        		<label for="uploadLogoButton" th:text="#{label.info_logo_type_supported}"/>
			</div>
			<input class="textFont button_next" name="next" type="submit" th:value="#{button.continue}"/>
		</form>
	</body>
</html>
