<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title>Secure App Generator</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  		  <link rel="stylesheet" type="text/css" media="all"  
     		 href="/css/main.css" th:href="@{../css/main.css}" />
 	</head>
	<body>
      	<img class="cellphone" src="/images/cellphone.png" alt="Android Cellphone"/>
	   	<div class="cellphone_logo"><img class="cellphone_logo_size" th:src="${session.appConfig.appIconLocation}" role="presentation" alt=""/></div>
	   	<div class="textFont cellphone_title" th:text="${session.appConfig.appName}"></div>

		<div class="textFont cellphone_center_title" align="center"><p/>Secure Data Collection</div>
  		<div class="textFont cellphone_center_data" align="center"><p/>Customized for your projects</div>
     	<div class="textFont main_title">
     		<b>secureApp</b> Generator
		</div>
     	<div class="textFont sub_title" >
     		powered by<img  src="../images/MartusLogoWhite.png" alt="Martus" align="top"/>
		</div>
		
      	<div class="textFont page_title">
     		<h1>Enter Contact's Token</h1>
 		</div>
   	
		<form method="POST" th:action="@{/obtainTokenPrevious}">
			<input class="textFont button_previous" name="previous" type="submit" value="&lt; Back"/>
		</form>

		<form method="POST" th:action="@{/obtainTokenNext}" th:object="${appConfig}">
   		 	<div class="textFont info_area_3">
           		 <table>
	                <tr>
 	                    <td>                					
 	                    		<label for="clientToken">
	                    				Token:
                    			</label>
						</td>
	                    <td>
	    	                    	<input type="text" th:field="*{clientToken}" autofocus="true"/>
	                    	</td>
	                    <td>
	                    		<span class="textFont error_msg" th:if="*{clientTokenError != null}" th:text="*{clientTokenError}">Errors</span>
	                    	</td>
	                </tr>
                </table>
  				Get the receiving party's public key from the token given.
 			</div>
			<input class="textFont button_next" name="next" type="submit" value="Continue &gt;"/>
		</form>
		<script src="./js/tota11y.min.js"></script>	
	</body>
</html>
