<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title>Secure App Generator</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  		  <link rel="stylesheet" type="text/css" media="all"  
     		 href="/css/main.css" th:href="@{../css/main.css}" />
 	</head>
	<body>
       	<img src="/images/cellphone.png" alt="Android Cellphone"/>
 	   	<div class="cellphone_logo"><img class="cellphone_logo_size" th:src="${session.appConfig.appIconLocation}" role="presentation" alt=""/></div>
	   	<div class="cellphone_title" th:text="${session.appConfig.appName}"></div>

		<div class="cellphone_center"><p/>Secure Data Collection<p>Customized for your projects</p></div>
     	<div class="main_title">
     		secureApp generator
		</div>
     	<div class="sub_title">
     		powered by<img src="../images/MartusLogoWhite.png" alt="Martus"/>
		</div>
     	<div class="page_title">
     		<h1>Verify all information is correct and that the Public Code matches the contact you wish to send your records before building your App.</h1>
 		</div>
		
    		 <div class="info_area_3">
             <table>
	                <tr>
 	                    <td>App's Name:</td>
	   					<td th:text="${session.appConfig.appName}"></td>
	                </tr>
	                <tr>
 	                    <td>App's Logo:</td>
	   					<td><img class="summary_logo_size" th:src="${session.appConfig.appIconLocation}" role="presentation" alt=""/></td>
	                </tr>
	                <tr>
 	                    <td>XForm To Use:</td>
	   					<td th:text="${session.appConfig.appXFormName}"></td>
	                </tr>
	                <tr>
 	                    <td>Receiving Contact's Public Code:</td>
	   					<td th:text="${session.appConfig.clientPublicCode}"></td>
	                </tr>
	                <tr>
 	                    <td>Server being used:</td>
	   					<td th:text="${session.appConfig.serverName}"></td>
	                </tr>
            </table>
		</div>
		<form method="POST" th:action="@{/summaryPrevious}">
			<input class="button_previous" name="previous" type="submit" value="&lt; Back"/>
		</form>
		<form method="POST" action="/summaryNext">
			<input class="button_next" name="next" type="submit" value="BUILD APP &gt;"/>
		</form>
 	</body>
</html>
