<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title>Secure App Generator</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  		  <link rel="stylesheet" type="text/css" media="all"  
     		 th:href="@{../css/main.css}" />
 	</head>
	<body>
       	<img class="progressBarLocation" src="/images/Step5line.png" role="presentation" alt=""/>
		<div class="textFont progressStep1Location progressBarStepComplete" align="center">Name</div>
		<div class="textFont progressStep2Location progressBarStepComplete" align="center">Logo</div>
		<div class="textFont progressStep3Location progressBarStepComplete" align="center">Form</div>
		<div class="textFont progressStep4Location progressBarStepComplete" align="center">Contact</div>
		<div class="textFont progressStep5Location progressBarStepActive" align="center">Build</div>
 
      	<img class="cellphone" src="/images/cellphone.png" alt="Android Cellphone"/>
	   	<div class="cellphone_logo"><img class="cellphone_logo_size" th:src="${session.appConfig.appIconLocation}" role="presentation" alt=""/></div>
	   	<div class="textFont cellphone_title" th:text="${session.appConfig.appName}"></div>

		<div class="textFont cellphone_center_title" id="cellphone_center_title" align="center"><p/>Secure Data Collection</div>
  		<div class="textFont cellphone_center_data" id="cellphone_center_data" align="center"><p/>Customized for your projects</div>
     	<div class="textFont main_title">
     		<b>secureApp</b> Generator
		</div>
     	<div class="textFont sub_title" >
     		powered by<img  src="../images/MartusLogoWhite.png" alt="Martus" align="top"/>
		</div>
     	<div class="textFont summary_title" id="progressArea" >
     		Verify all information is correct and that the Public Code matches the contact you wish to send your records before building your App.
 		</div>
		
    		 <div class="textFont info_area_summary">
             <table>
	                <tr>
 	                    <td>App's Name:</td>
  	                    <td class="table_column_spacer"/>
	   					<td th:text="${session.appConfig.appName}"></td>
	                </tr>
	                <tr>
 	                    <td>App's Logo:</td>
 	                    <td class="table_column_spacer"/>
	   					<td><img class="summary_logo_size" th:src="${session.appConfig.appIconLocation}" alt="image of logo to use in app"/></td>
	                </tr>
	                <tr>
 	                    <td>XForm To Use:</td>
 	                    <td class="table_column_spacer"/>
	   					<td th:text="${session.appConfig.appXFormName}"></td>
	                </tr>
	                <tr>
 	                    <td>Receiving Contact's Public Code:</td>
 	                    <td class="table_column_spacer"/>
	   					<td th:text="${session.appConfig.clientPublicCode}"></td>
	                </tr>
	                <tr>
 	                    <td>Server being used:</td>
 	                    <td class="table_column_spacer"/>
	   					<td th:text="${session.appConfig.serverName}"></td>
	                </tr>
	                <tr>
 	                    <td>APK Version:</td>
 	                    <td class="table_column_spacer"/>
	   					<td th:text="${session.appConfig.apkVersionMajor} + '.' +${session.appConfig.apkVersionMinor} + '.' + ${session.appConfig.apkVersionBuild}+ '.' + ${session.appConfig.apkSagVersionBuild}"></td>
	                </tr>
 	                <tr>
 	                    <td>APK Name:</td>
  	                    <td class="table_column_spacer"/>
	   					<td th:text="${session.appConfig.apkName}"></td>
	                </tr>
	                <tr>
	                		<td/>
 	                    <td class="table_column_spacer"/>
	                    	<td>
	                    		<span class="textFont error_msg" th:if="${appConfig.apkBuildError != null}" th:text="${appConfig.apkBuildError}">Errors</span>
	                    	</td>
	                </tr>
             </table>
		</div>
		<form method="POST" th:action="@{/summaryPrevious}">
			<input class="textFont button_previous" id="previous" name="previous" type="submit" value="&lt; Back"/>
		</form>

	    <canvas class="progress_location" id="ProgressArea" width="400" height="350"></canvas> 
 
		<form id="buildApp" name="buildApp" method="POST" action="/summaryNext">
			<button class="textFont button_next" id="next" name="next" onclick="showProgress('Building App')">BUILD APP &gt;</button>
		</form>

  		<script src="./js/ProgressCircle.js"></script>	
 		<script src="./js/progress.js"></script>	
		<script src="./js/tota11y.min.js"></script>	
 	</body>
</html>
