<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title th:text="#{text.title}"></title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  		  <link rel="stylesheet" type="text/css" media="all"  
     		 th:href="@{../css/main.css}" />
 	</head>
	<body>
       	<img class="progressBarLocation" src="/images/Step5line.png" role="presentation" alt=""/>
		<div class="textFont progressStep1Location progressBarStepComplete" align="center" th:text="#{progressbar.name}"></div>
 		<div class="textFont progressStep2Location progressBarStepComplete" align="center" th:text="#{progressbar.logo}"></div>
		<div class="textFont progressStep3Location progressBarStepComplete" align="center" th:text="#{progressbar.form}"></div>
		<div class="textFont progressStep4Location progressBarStepComplete" align="center" th:text="#{progressbar.contact}"></div>
		<div class="textFont progressStep5Location progressBarStepActive" align="center" th:text="#{progressbar.build}"></div>
 
  	 	<img class="cellphone" src="/images/cellphone.png" th:alt="#{alt_text.cellphone}"/>
	   	<div class="cellphone_logo"><img class="cellphone_logo_size" th:src="${session.appConfig.appIconBase64Data}" role="presentation" alt=""/></div>
	   	<div class="textFont cellphone_title" th:text="${session.appConfig.appName}"></div>

		<div class="textFont cellphone_center_title" id="cellphone_center_title" align="center"><p/><a th:text="#{text.cellphone_message1}"></a></div>
  		<div class="textFont cellphone_center_data" id="cellphone_center_data" align="center" th:text="#{text.cellphone_message2}"></div>
      	<div class="textFont main_title">
     		<div th:text="#{text.title}"/>
		</div>
     	<div class="textFont sub_title">
     		<a th:text="#{text.subtitle}"/><img  src="../images/MartusLogoWhite.png" th:alt="#{alt_text.Martus}" align="top"/>
		</div>
		
      	<div class="textFont summary_title" id="progressArea" th:text="#{text.info_summary}"/>
		
    		 <div class="textFont info_area_summary">
             <table>
	                <tr>
 	                    <td th:text="#{text.summary_name}"/>
  	                    <td class="table_column_spacer"/>
	   					<td th:text="${session.appConfig.appName}"/>
	                </tr>
	                <tr>
 	                    <td th:text="#{text.summary_logo}"/>
 	                    <td class="table_column_spacer"/>
	   					<td><img class="summary_logo_size" th:src="${session.appConfig.appIconBase64Data}" th:alt="#{alt_text.app_logo}"/></td>
	                </tr>
	                <tr>
 	                    <td th:text="#{text.summary_form}"/>
 	                    <td class="table_column_spacer"/>
	   					<td th:text="${session.appConfig.appXFormName}"/>
	                </tr>
	                <tr>
 	                    <td th:text="#{text.summary_public_code}"/>
 	                    <td class="table_column_spacer"/>
	   					<td th:text="${session.appConfig.clientPublicCode}"/>
	                </tr>
	                <tr>
 	                    <td th:text="#{text.summary_server}"/>
 	                    <td class="table_column_spacer"/>
	   					<td th:text="${session.appConfig.serverName}"></td>
	                </tr>
	                <tr>
 	                    <td th:text="#{text.summary_version}"/>
 	                    <td class="table_column_spacer"/>
	   					<td th:text="${session.appConfig.apkVersionMajor} + '.' +${session.appConfig.apkVersionMinor} + '.' + ${session.appConfig.apkVersionBuild}+ '.' + ${session.appConfig.apkSagVersionBuild}"/>
	                </tr>
 	                <tr>
 	                    <td th:text="#{text.summary_file_name}"/>
  	                    <td class="table_column_spacer"/>
	   					<td th:text="${session.appConfig.apkName}"/>
	                </tr>
	                <tr>
	                		<td/>
 	                    <td class="table_column_spacer"/>
	                    	<td>
	                    		<span class="textFont error_msg" th:if="${appConfig.apkBuildError != null}" th:text="${appConfig.apkBuildError}"></span>
	                    	</td>
	                </tr>
             </table>
		</div>
		<form method="POST" th:action="@{/summaryPrevious}">
			<input class="textFont button_previous" name="previous" id="previous" type="submit" th:value="#{button.previous}"/>
		</form>

	    <canvas class="progress_location" id="ProgressArea" width="400" height="350"/> 
 
		<form id="buildApp" name="buildApp" method="POST" action="/summaryNext">
			<button class="textFont button_next" id="next" name="next" th:onclick="'javascript:showProgress(\'' + #{text.buildingApk} + '\');'" th:text="#{button.buildapp}"/>
		</form>

  		<script src="./js/ProgressCircle.js"></script>	
 		<script src="./js/progress.js"></script>	
 	</body>
</html>

