<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title>Secure App Generator</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  		  <link rel="stylesheet" type="text/css" media="all"  
     		 href="/css/main.css" th:href="@{../css/main.css}" />
 	</head>
	<body>
      	<img src="/images/cellphone.png" alt="Android Cellphone"/>
	   	<div class="cellphone_logo"><img class="cellphone_logo_size" th:src="${session.appConfig.appIconLocation}" role="presentation" alt=""/></div>
	   	<div class="cellphone_title" th:text="${session.appConfig.appName}"></div>

		<div class="cellphone_center_title" align="center"><p/>Secure Data Collection</div>
  		<div class="cellphone_center_data" align="center"><p/>Customized for your projects</div>
     	<div class="main_title">
     		<b>secureApp</b> Generator
		</div>
     	<div class="sub_title" >
     		powered by<img  src="../images/MartusLogoWhite.png" alt="Martus" align="top"/>
		</div>
		
     	<div class="info_area_1" align="center">
     		Create a custom app for your project with
     		<p>quick and easy installation for your field team!</p>
     		<p>No need for complicated setup or configuration!</p>
		</div>
	    	
	    	<div class="info_area_2">
     		You can
		</div>
     	
     	<div class="info_area_3">
     		<ul>
	     		<li>Add your project name and logo</li>
	     		<li>Specify the forms your field team can use</li>
	     		<li>Choose who receives your data</li>
	     	</ul>
		</div>
			
		<form method="POST" action="/welcome">
			<input class="button_start" name="next" type="submit" value="GET STARTED &gt;"/>
		</form>
	<script src="./js/tota11y.min.js"></script>	
	</body>
</html>
