<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title th:text="#{text.title}"></title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  		  <link rel="stylesheet" type="text/css" media="all"  
     		 href="/css/main.css" th:href="@{../css/main.css}" />
 	</head>
	<body>
      	<img class="cellphone" src="/images/cellphone.png" th:alt="#{alt_text.cellphone}"/>
	   	<div class="cellphone_logo"><img class="cellphone_logo_size" th:src="${session.appConfig.appIconLocation}" role="presentation" alt=""/></div>
	   	<div class="cellphone_title" th:text="${session.appConfig.appNameShort}"></div>

		<div class="textFont cellphone_center_title" align="center"><p/><a th:text="#{text.cellphone_message1}"></a></div>
  		<div class="textFont cellphone_center_data" align="center" th:text="#{text.cellphone_message2}"></div>
  		<div class="textFont cellphone_center_version" align="right" th:text="${session.appConfig.apkVersionMajor}"></div>
     	<div class="textFont main_title">
     		<div th:text="#{text.title}"/>
		</div>
     	<div class="textFont sub_title">
     		<a th:text="#{text.subtitle}"/><img  src="../images/MartusLogoWhite.png" th:alt="#{alt_text.Martus}" align="top"/>
		</div>
		
     	<div class="textFont info_area_1" align="center">
     		<p th:text="#{text.info_welcome_msg1}"/>
     		<p th:text="#{text.info_welcome_msg2}"/>
     		<p th:text="#{text.info_welcome_msg3}"/>
		</div>
	    	
	    	<div class="textFont info_area_2" th:text="#{text.info_welcome_msg4}"/>
     	
     	<div class="textFont info_area_3">
     		<ul>
	     		<li th:text="#{text.info_welcome_msg5}"></li>
	     		<li th:text="#{text.info_welcome_msg6}"></li>
	     		<li th:text="#{text.info_welcome_msg7}"></li>
	     	</ul>
		</div>
			
		<form method="POST" action="/welcome">
			<input class="textFont button_start" name="next" type="submit" th:value="#{button.start}"/>
		</form>
		
		<div class="helpFont help_area">Need help? Email <a class="url_link" href="mailto:secureApp@benetech.org">secureApp@benetech.org</a></div> 
  		<div class="copyrightFont copyright_area" align="left" th:utext="${session.appConfig.copyright}"></div>
	</body>
</html>
